recreate this file at the end of the project by writing 'pip freeze > requirements.txt' 
(venv for this one) : python -m venv venv
    -> source /venv/bin/activate (then deactivate (terminal) to exit)